body{
  background-color: #fcfcfc;
}
body a {
  text-decoration: none !important;
}
.cat-img {
  width: 293px;
  height: 193px;
  transition: 0.5s;
  object-fit: inherit;
  overflow: hidden;
}
.section-title {
  text-align: center;
  margin-top: 40px;
  font-weight: 450;
  margin-bottom: 40px;
  transition: 0.5s;
}

.section-title:hover {
  transform: scale(1.1);
}
.categories,
.best-sellers,
.latest {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.categories img {
  margin-bottom: 40px;
  transition: 0.5s;
}
.best-sellers .best-img img {
  width: 300px;
  height: 350px;
  transition: 0.5s;
}
.best-sellers .best-img h6 {
  font-weight: 450;
}

div p .rating {
  /* position: absolute;
    top: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

div.blog {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  transition: 0.5s;
}
.blog img {
  width: 500px;
  height: 350px;
  object-fit: cover;
  overflow: hidden;
  transition: 0.5s;
}
.blog-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  transition: 0.5s;
}
.img-div {
  width: 40%;
  transition: 0.5s;
}

.desc-div {
  width: 50%;
}
.input-field {
  width: 40px;
  height: 30px;
  border: none;
  background: none !important;
  outline: none !important;
  background-color: inherit;
  border-top: 1px solid rgb(201, 201, 201);
  border-bottom: 1px solid rgb(201, 201, 201);
}
div .latest-img {
  width: 220px;
  height: 246px;
  transition: 0.5s;
}
img:hover {
  transform: scale(1.05);
  /* box-shadow: 3px 3px 3px rgb(168, 168, 172) !important; */
}
.main-cart {
  display: flex;
}
.cart {
  width: 30%;
  height: 200px;
  /* background-image: url('../static/default.jpg'); */
  background-repeat: no-repeat;
  background-position: centre center;
  background-size: cover;
  object-fit: contain;
  overflow: hidden;
  border-radius: 10px;
  transition: 0.5s;
}
.cart-info {
  width: 80%;
  float: right;
}
.cart-img {
  width: 130px;
  height: 150px;
}
.expected {
  padding: 25px;
}
.form {
  display: none;
}

.post,
.about-author {
  display: flex;
  justify-content: space-evenly;
}
.post-detail {
  width: 75%;
  transition: 0.5s;
}
.post-image {
  width: 90%;
  height: 60vh;
  transition: 0.5s;
}
.author {
  font-weight: 450;
}
.big-user {
  width: 100px;
  height: 100px;
  transition: 0.5s;
  box-shadow: 3px 5px 15px rgb(95, 95, 95);
}
.related {
  width: 25%;
  transition: 0.5s;
}
.small-user {
  width: 30px;
  height: 30px;
  transition: 0.5s;
  box-shadow: 3px 5px 15px rgb(95, 95, 95);
}
.comment-user {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transition: 0.5s;
  box-shadow: 3px 5px 15px rgb(95, 95, 95);
}
.about-author {
  margin-left: 1em;
}

.rel-img {
  width: 98%;
  margin: auto;
  height: 150px;
  transition: 0.5s;
}
.form {
  display: none;
}
.login {
  width: 40%;
  margin: auto;
}
.login.inputs {
  width: 60%;
  margin: auto;
}
@media screen and (max-width: 280px) {
  .navbar .navbar-collapse .navbar-nav {
    display: flex;
    flex-direction: column;
    justify-content: centre;
    text-align: center;
  }
  .login {
    width: 100% !important;
    margin: auto;
  }
  .login.inputs {
    width: 100% !important;
    margin: auto;
  }
}

@media screen and (max-width: 375px) {
  .navbar .navbar-collapse .navbar-nav {
    display: flex;
    flex-direction: column;
    justify-content: centre;
    text-align: center;
  }
  .blog-div img,
  .blog-div p {
    width: 100% !important;
    margin: 0 auto !important;
  }
  .blog-div img {
    height: 220px;
  }
  .login {
    width: 100% !important;
    margin: auto;
  }
  .login.inputs {
    width: 100% !important;
    margin: auto;
  }
  .detail-post-page {
    display: flex;
    width: 100%;
  }
  .post-detail {
    width: 100% !important;
  }
  .post-detail .post-image {
    width: 100% !important;
    height: 230px !important;
  }
  .post-detail .about-post {
    width: 100% !important;
  }
  .post-detail .about-post {
    width: 100% !important;
  }
  .post-detail .about-post p span img,
  .post-detail .about-post p span .author {
    margin-top: 7px;
    padding-top: 0;
  }
  .comment {
    width: 100%;
  }
  .post {
    display: block;
    width: 100%;
  }
  .related {
    width: 100%;
  }
  .related .related-posts {
    width: 100%;
  }
  .related .related-posts .rel-img {
    width: 100%;
    height: 220px;
    margin: auto !important;
  }
  .map {
    width: 100%;
    margin-left: 0 !important;
    margin-bottom: 20px !important;
  }
  .contact-form {
    display: block !important;
    width: 100%;
    /* height: 100px; */
  }
  .details {
    display: block !important;
    width: 100% !important;
    margin-left: 0 !important;
  }
  .contact-info {
    display: block !important;
    margin-left: 0 !important;
    width: 100% !important;
  }

  /* shop */
  .menu {
    display: none;
  }
  .shop-content {
    position: relative;
    display: flex !important;
    width: 100%;
  }
  .header-paragraph {
    position: absolute;
    top: 0;
    left: 0;
    margin-right: 20px !important;
    z-index: 2;
    width: 100% !important;
  }
  .input-form {
    width: 100% !important;
  }
  .shop-img {
    margin-top: 10em;
    display: flex !important;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 375px !important;
  }
  .shop-image-div {
    height: 320px !important;
    margin-right: 10px;
    width: 125px !important;
  }
  .shop-image-div img {
    width: 100% !important;
    height: 130px !important;
  }
  .shop-image-div p {
    font-size: 18px !important;
    font-weight: 450 !important;
    width: 100% !important;
  }
  .shop-image-div .div-details {
    display: inline-block;
    width: 100% !important;
  }
  .list-btn {
    display: none;
  }
  .shop-image-div .div-details .add-to-cart {
    width: 86% !important;
  }
  body {
    background-color: #fcfcfc;
  }

  /* cart */
  .main-cart {
    width: 100% !important;
  }
  .cart {
    width: 40% !important;
  }
  .cart img {
    width: 100% !important;
    margin-left: 0 !important;
  }
  .cart-info {
    width: 60% !important;
  }
  .footer-info {
    display: flex !important;
    flex-direction: column;
  }
  .footer-info .wish {
    margin-left: 0 !important;
  }
  .payment-options {
    display: inline;
  }
  .mpesa,
  .accept-img {
    width: 50px !important;
    height: 50px !important;
  }
  .paypal,
  .master {
    height: 30px !important;
    width: 40px !important;
  }
}

@media screen and (max-width: 500px) {
  .navbar .navbar-collapse .navbar-nav {
    display: flex;
    flex-direction: column;
    justify-content: centre;
    text-align: center;
  }

  .login {
    width: 100% !important;
    margin: auto;
  }
  .login.inputs {
    width: 100% !important;
    margin: auto;
  }

  .detail-post-page {
    display: flex;
    width: 100%;
  }
  .post-detail {
    width: 100% !important;
  }
  .post-detail .post-image {
    width: 100% !important;
    height: 230px !important;
  }
  .post-detail .about-post {
    width: 100% !important;
  }
  .post-detail .about-post {
    width: 100% !important;
  }
  .post-detail .about-post p span img,
  .post-detail .about-post p span .author {
    margin-top: 7px;
    padding-top: 0;
  }
  .comment {
    width: 100%;
  }
  .post {
    display: block;
    width: 100%;
  }
  .related {
    width: 100%;
  }
  .related .related-posts {
    width: 100%;
  }
  .related .related-posts .rel-img {
    width: 100%;
    height: 220px;
    margin: auto !important;
  }

  .map {
    width: 100%;
    margin-left: 0 !important;
    margin-bottom: 20px !important;
  }
  .contact-form {
    display: block !important;
    width: 100%;
    /* height: 100px; */
  }
  .details {
    display: block !important;
    width: 100% !important;
    margin-left: 0 !important;
  }
  .contact-info {
    display: block !important;
    margin-left: 0 !important;
    width: 100% !important;
  }

  /* shop list */
  .mid-div {
    display: none !important;
  }
  .shop-list-div {
    position: relative;
    width: 100%;
    height: 250px;
    margin-bottom: 0 !important;
  }
  .shop-list-img {
    width: 50% !important;
  }
  .shop-list-img img {
    width: 100% !important;
    margin-right: 15px !important;
    transition: 0.5s;
  }
  .btns {
    display: inline;
  }
  .btns .btn {
    text-align: center;
  }

  .shop-list-info {
    position: absolute;
    width: 50% !important;
    right: 0;
    display: block !important;
  }

  /* cart */
  .main-cart {
    width: 100% !important;
  }
  .cart {
    width: 40% !important;
  }
  .cart img {
    width: 100% !important;
    margin-left: 0 !important;
  }
  .cart-info {
    width: 60% !important;
  }
  .footer-info {
    display: flex !important;
    flex-direction: column;
  }
  .footer-info .wish {
    margin-left: 0 !important;
  }
  .payment-options {
    display: inline;
  }
  .mpesa,
  .accept-img {
    width: 50px !important;
    height: 50px !important;
  }
  .paypal,
  .master {
    height: 30px !important;
    width: 40px !important;
  }
}

@media screen and (max-width: 750px) {
  .blog-div {
    width: 100% !important;
  }
  .blog-div img {
    width: 100% !important;
    height: 50px;
  }
  .blog-div p {
    width: 100% !important;
  }
  .map {
    width: 100%;
    margin-left: 0 !important;
    margin-bottom: 20px !important;
  }
  .contact-form {
    display: block !important;
    width: 100%;
    /* height: 100px; */
  }
  .details {
    display: block !important;
    width: 100% !important;
    margin-left: 0 !important;
  }
  .contact-info {
    display: block !important;
    margin-left: 0 !important;
    width: 100% !important;
  }

  /* shop list */
  .mid-div {
    display: none !important;
  }
  .shop-list-div {
    position: relative;
    width: 100%;
    height: 250px;
    margin-bottom: 0 !important;
  }
  .shop-list-img {
    width: 50% !important;
  }
  .shop-list-img img {
    width: 100% !important;
    margin-right: 15px !important;
    transition: 0.5s;
  }
  .btns {
    display: inline;
  }
  .btns .btn {
    text-align: center;
  }

  .shop-list-info {
    position: absolute;
    width: 50% !important;
    right: 0;
    display: block !important;
  }

  /* cart */
  .main-cart {
    width: 100% !important;
  }
  .cart {
    width: 40% !important;
  }
  .cart img {
    width: 100% !important;
    margin-left: 0 !important;
  }
  .cart-info {
    width: 60% !important;
  }
  .footer-info {
    display: flex !important;
    flex-direction: column;
  }
  .footer-info .wish {
    margin-left: 0 !important;
  }
  .payment-options {
    display: inline;
  }
  .mpesa,
  .accept-img {
    width: 50px !important;
    height: 50px !important;
  }
  .paypal,
  .master {
    height: 30px !important;
    width: 40px !important;
  }
}

@media screen and (max-width: 850px) {
  .navbar .navbar-collapse .navbar-nav {
    display: flex;
    flex-direction: column;
    justify-content: centre;
    text-align: center;
  }
  .blog {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .blog-div {
    display: flex;
    width: 300px;
  }
  .blog-div img {
    width: 100% !important;
    height: 200px !important;
  }
  .blog-div p {
    width: 100% !important;
  }
  .post-detail .post-image {
    width: 100% !important;
    height: 300px !important;
  }
  .post-detail {
    width: 98% !important;
    margin-right: 10px;
  }
  .detail-post-page {
    display: flex;
    width: 100%;
  }
  .post-detail .about-post {
    width: 100% !important;
  }
  .post-detail .about-post {
    width: 100% !important;
  }
  .post-detail .about-post p span img,
  .post-detail .about-post p span .author {
    margin-top: 7px;
    padding-top: 0;
  }
  .comment {
    width: 100%;
  }
  .post {
    display: block;
    width: 100%;
  }
  .related {
    width: 100%;
  }
  .related .related-posts {
    width: 100%;
  }
  .related .related-posts .rel-img {
    width: 100%;
    height: 220px;
    margin: auto !important;
  }
  .rel-img {
    height: 100px;
  }

  .login {
    width: 100% !important;
    margin: auto;
  }
  .login.inputs {
    width: 100% !important;
    margin: auto;
  }

  /* shop list */
  .mid-div {
    display: none !important;
  }
  .shop-list-div {
    position: relative;
    width: 100%;
    height: 250px;
    margin-bottom: 0 !important;
  }
  .shop-list-img {
    width: 50% !important;
  }
  .shop-list-img img {
    width: 100% !important;
    margin-right: 15px !important;
    transition: 0.5s;
  }
  .btns {
    display: inline;
  }
  .btns .btn {
    text-align: center;
  }

  .shop-list-info {
    position: absolute;
    width: 50% !important;
    right: 0;
    display: block !important;
  }

  /* cart */
  .main-cart {
    width: 100% !important;
  }
  .cart {
    width: 40% !important;
  }
  .cart img {
    width: 100% !important;
    margin-left: 0 !important;
  }
  .cart-info {
    width: 60% !important;
  }
  .footer-info {
    display: flex !important;
    flex-direction: column;
  }
  .footer-info .wish {
    margin-left: 0 !important;
  }
  .payment-options {
    display: inline;
  }
  .mpesa,
  .accept-img {
    width: 50px !important;
    height: 50px !important;
  }
  .paypal,
  .master {
    height: 30px !important;
    width: 40px !important;
  }
}

@media screen and (max-width: 991px) {
  /* shop list */
  .mid-div {
    display: none !important;
  }
  .shop-list-div {
    position: relative;
    width: 100%;
    height: 250px;
    margin-bottom: 0 !important;
  }
  .shop-list-img {
    width: 50% !important;
  }
  .shop-list-img img {
    width: 100% !important;
    margin-right: 15px !important;
    transition: 0.5s;
  }
  .btns {
    display: inline;
  }
  .btns .btn {
    text-align: center;
  }

  .shop-list-info {
    position: absolute;
    width: 50% !important;
    right: 0;
    display: block !important;
  }
  /* cart */
  .main-cart {
    width: 100% !important;
  }
  .cart {
    width: 40% !important;
  }
  .cart img {
    width: 100% !important;
    margin-left: 0 !important;
  }
  .cart-info {
    width: 60% !important;
  }
  .footer-info {
    display: flex !important;
    flex-direction: column;
  }
  .footer-info .wish {
    margin-left: 0 !important;
  }
  .payment-options {
    display: inline;
  }
  .mpesa,
  .accept-img {
    width: 50px !important;
    height: 50px !important;
  }
  .paypal,
  .master {
    height: 30px !important;
    width: 40px !important;
  }
}

@media screen and (max-width: 1000px) {
  .login {
    width: 100% !important;
    margin: auto;
  }
  .blog {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .blog-div img {
    width: 400px;
    height: 250px;
  }
  .login.inputs {
    width: 100% !important;
    margin: auto;
  }
}

@media screen and (max-width: 1200px) {
  .login {
    width: 100% !important;
    margin: auto;
  }
  .blog {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .blog-div img {
    width: 400px;
    height: 250px;
  }
  .post-detail .post-image {
    width: 97% !important;
    height: 400px;
  }
  .login.inputs {
    width: 100% !important;
    margin: auto;
  }
}

.shop-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.menu {
  width: 30%;
  font-weight: 450;
  cursor: pointer;
}

.shop-img {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.shop-content {
  width: 70%;
}
.shop-content .header-paragraph {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
}
.shop-img .shop-image {
  width: 220px;
  height: 200px;
  transition: 0.5s;
}
.shop-image-div {
  width: 220px;
  height: 370px;
  margin-bottom: 1em !important;
}
.shop-image-div h4 {
  font-weight: 330;
  text-align: center;
  margin-top: 1em;
}
.mydiv {
  width: 220px;
  height: 240px;
  margin-bottom: 1em !important;
}
.img-div .detail-img {
  width: 95%;
  height: 470px;
  margin-right: 0;
  transition: 0.5s;
}
.ass-img {
  width: 100%;
  margin-top: 1em;
}
.ass-img .ass-image {
  width: 110px;
  margin-left: 20px;
  height: 115px;
}
.latest-image {
  width: 220px;
  height: 430px;
  align-items: center;
}
.map {
  margin-bottom: 5em;
}
.contact-form {
  display: flex;
  justify-content: center;
}
.details {
  width: 30%;
  margin-left: 80px;
}
.contact-info {
  width: 70%;
  margin-left: 40px;
}
.shop-img-list {
  width: 100%;
  /* background-color: yellow; */
}
.shop-list-div {
  display: flex;
  width: 100%;
  /* background-color: blue; */
}
.shop-list-img {
  width: 25%;
  /* background-color: aqua; */
}
.shop-list-img img {
  width: 200px;
  height: 200px;
}
.shop-list-info {
  display: inline-block;
  width: 70%;
  height: 200px;
  margin-left: 0;
  /* background-color: red; */
}
.accept-img {
  width: 70px;
  height: 70px;
}
.master {
  width: 70px;
  height: 50px;
}
.paypal {
  width: 70px;
  height: 45px;
}
.mpesa,
.paypal,
.master {
  margin-left: 20px;
}
.card .btn-container {
  width: 95%;
  margin: 2em auto;
}
